/* =============reuseble code=================================== */
.container {
  width: 90%;
  margin: 0 auto;
}

/* ===========================================
Header Section Start
======================================= */

/* .header {
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
}

.header .logo {
  height: 10rem;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--green);
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: var(--shadow);
}

.sticky .section-hero {
  margin-top: 10rem;
}

 */
.buttonGreen button {
  width: 13rem;
  height: 3.3rem;
  background-color: var(--green);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;
}

.header .logo {
  height: 3rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ===========================================
Hero and Service Section Start
======================================= */
/* .section-hero,
.section-services {
  padding: 9.6rem 0;
  background-color: #a5d8ff;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-services {
  background: #f3f0ff;
}

.section-hero p,
.section-services p {
  font-size: 3.2rem;
} */


/* ==============Hero section============================= */
.heroSection {
  background-image: url(./Component/hero_image.jpg);
  position: relative;
  /* z-index: -1; */
  width: 100vw;
  height: 100vh;
}

.heroText {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}

.heroText h2 {
  font-size: 3rem;
  border-bottom: 2px solid var(--green);
  line-height: 1;
  margin-bottom: 1rem;
  display: inline-block;
}

.heroSection .buttonGreen {
  margin-top: 2rem;
}

.heroText p {
  width: 50%;
  margin: 0 auto;
}

/* =====================home====================== */
.wrapper {
  width: 80%;
  margin: 0 auto;
  background: white;
  /* position: relative; */
  /* top: -12rem; */
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}

.ourServices {
  display: flex;
  padding: 5rem 4rem;
  align-items: center;
  justify-content: center;
}

.ourServices h2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  color: var(--orange);
  line-height: 1.3;
}

.ourServices h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--green);
}

.ourServices .right p {
  font-size: 1.5rem;
}

.serviceHeader {
  display: flex;
  background: lightgray;
  text-align: center;
  margin: 2rem 0;
  justify-content: center;
}

.serviceHeader h2 {
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
}

.servicesSection {
  display: flex;
  align-items: center;
}

.servicesSection .services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;

}

.servicesSection .services .service {
  width: 30%;
}

.service .servImage {
  position: relative;
  overflow: hidden;
}

.service .servImage a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service .servImage a button {
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 7px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all .5s ease-in;
}

.service .servImage a button:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background: var(--orange);
  color: var(--white);
}

.service .servImage img {
  width: 100%;
  transition: all 0.5s ease-in;
}

.servImage img:hover {
  transform: scale(1.3);
}

.service h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
}

/* ========================best offer========================= */


.col.bestOffer {
  padding: 5rem 0;
}

.bestOfferImg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px 6px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two"
    "one three";
}

.bestOfferImg .img-one img,
.img-two img,
.img-three img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  transition: all .5s;
}

.offerImg {
  overflow: hidden;
}

.img-one {
  grid-area: one;
  background-color: red;
}

.img-two {
  grid-area: two;
  background-color: green;
}

.img-three {
  grid-area: three;
  background-color: aqua;
}

.bestOffer .right h2 {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--orange);
  text-align: center;
}

/* .bestOffer .right button {
  color: var(--white);
  padding: 4px 30px;
  background: var(--orange);
  border: none;
  outline: none;
} */
.bestOfferText {
  padding: 0 5rem;
}

.bestOfferText a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.bestOfferText ul li {
  font-size: 1.5rem;
  margin: 10px 0;
  color: var(--para);
  display: flex;
  align-items: center;
}

.bestOfferText ul li svg {
  color: var(--green);
  margin-right: 10px;
}

.offerImg.show img {
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  align-self: center;
  object-fit: contain;
  z-index: 666;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  filter: drop-shadow(0 3px 15px black);
  /* cursor: url(close-button.png), grab; custom cursor to signal close on click */
}

.offerImg:not(.show):hover img {
  cursor: pointer;
  transform: scale(1.3);
}

/* ================testimonial==================== */
.testimonial {
  background: var(--green);
  padding: 5rem;
}

@media screen and (min-width: 992px) {
  /* .testimonial {
    width: 95vw;
  } */
}

/* .testimonial  .title {
  text-align: center;
  margin-bottom: 2rem;
}

.testimonial  .title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.testimonial .title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
} */

.testimonial .section-center {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.testimonial .person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}

.testimonial article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}

.testimonial .title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}

.testimonial .text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}

/* .icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
} */

.testimonial .prev,
.testimonial .next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.testimonial .prev:hover,
.testimonial .next:hover {
  background: var(--clr-primary-5);
}

.testimonial .prev {
  left: 0;
}

.testimonial .next {
  right: 0;
}

@media (min-width: 800px) {
  .testimonial .text {
    max-width: 45em;
  }

  .testimonial .prev,
  .testimonial .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}

.testimonial article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}

.testimonial article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.testimonial article.lastSlide {
  transform: translateX(-100%);
}

.testimonial article.nextSlide {
  transform: translateX(100%);
}

/* ====================outlet================= */
section.outlet {
  padding: 0 3rem 6rem;
}

.outlet h4 {
  text-align: center;
  font-size: 2rem;
  color: var(--green);
  font-weight: 600;
}

.outlet h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
  color: var(--orange);
}

section.outlet .left {
  position: relative;
}

section.outlet .left svg {
  position: absolute;
  top: 50%;
  font-size: 35px;
  background: var(--green);
  color: white;
  transform: translate(-50%, -50%);
  border: none;
}

.outlet .col .left img {
  width: 100%;
}

section.outlet .col {
  gap: 5rem;
}

section.outlet .right h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

/* .bio-data {
  width: 90%;
  margin: auto;
} */

.bio-data-stats {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  gap: 2rem;
}

/* .bio-stats h3 {
  margin-bottom: 1rem;
} */
.bio-stats p {
  color: var(--orange);
}

.bio-progress-bar {
  width: 90%;
  height: 0.3rem;
  background-color: gray;
  border-radius: 10rem;
  position: relative;
  box-shadow: var(--shadow);
}

.bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* width: 80%; */
  height: inherit;
  background: var(--green);
  border-radius: 10rem;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bio-progress-1::before {
  width: 80%;
}

.bio-progress-2::before {
  width: 70%;
}

.bio-progress-3::before {
  width: 90%;
}

.bio-progress-bar span {
  position: absolute;
  top: 1.8rem;
  width: 4rem;
  height: 2rem;
  background: var(--green);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: 0;
  z-index: 1;
}

.bio-progress-bar span::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background: var(--green);
  position: absolute;
  top: -0.5rem;
  transform: rotate(45deg);
  z-index: -1;
}

.bio-progress-1 span {
  left: calc(80% - 2rem);
}

.bio-progress-2 span {
  left: calc(70% - 2rem);
}

.bio-progress-3 span {
  left: calc(90% - 2rem);
}

/* ===========================form========================== */
section.formSection #form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#form p {
  text-transform: capitalize;
  color: var(--green);
}

#form h2 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--orange);
}

#form input {
  padding: 1rem;
  width: 50%;
  float: left;
}

#form input {
  padding: 1rem;
  width: 47%;
  float: left;
  margin: 14px 5px;
}

/* ==================================why choose Accordion================================== */
section.whychooseus {
  width: 95%;
  margin: 0 auto;
}

section.whychooseus h2 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 4rem;
  color: var(--orange);
}

.whychooseus .right img {
  width: 100%;
}

.whysection {
  display: flex;
  flex: 1;
  align-items: flex-start;
  grid-gap: 3rem;
}

/* .accordion {
  background: var(--clr-white);
    border-radius: var(--radius);
    padding: 2.5rem 2rem;
    max-width: var(--fixed-width);
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: 1fr 1fr;
} */
.accordion h3 {
  line-height: 1.2;
  font-weight: 500;
}


.question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.question h3 {
  text-transform: none;
  line-height: 1.5;
}

.question p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question header h3 {
  margin-bottom: 0;
}

.btnaccorNew {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: var(--clr-grey-special);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clr-red-special);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

/* =================footer======================== */
footer {
  padding: 4rem 4rem 0;
  background-color: rgb(52 52 52);
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 1px solid white;
  padding-bottom: 2rem;
}

.footer .footer_col {
  flex: 1;
  border-right: 1px solid white;
  padding-left: 2rem;

}

footer .footer_col:first-child {
  padding: 0;
}

footer .footer_col:last-child {
  border: none;
}


.footer .footer_col h4 {
  font-size: 1.5rem;
  color: var(--orange);
  text-transform: capitalize;
}

.footer_col.footer1 svg {
  margin-right: 1rem;
}

.footer .footer_col ul {
  padding-top: 1rem;
}

.footer .footer_col ul li {
  padding: 0.7rem 0;
}

.footer .footer_col ul li a {
  color: white;
  font-size: 1.4rem;
  transition: all .5s ease;
}

.footer .footer_col ul li a:hover {
  color: orange;
  font-size: 1.6rem;
}

.footer .footer-logo img {
  width: 85px;
}

.footer .footer_col.footer1 p {
  color: white;
  line-height: 2rem;
  padding: 1rem 0;
}

.footer .footer_col.footer1 p a {
  color: white;
}

.footer .footer_col.footer4 p {
  font-size: 1.4rem;
  color: white;
  padding: 1rem 0;
}

.footer .footer_col.footer4 form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer .footer_col.footer4 form input {
  padding: 1rem;
  border: none;
}

.footer .footer_col.footer4 form button {
  padding: 1rem;
  border: none;
  background: var(--green);
}

.footer .footer_col.footer4 .social {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.footer .footer_col.footer4 .social ul {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding: 0;
}

.footer .footer_col.footer4 .social ul li {
  padding-right: 1rem;
}

footer .footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

footer .footer_bottom .copyright p {
  font-size: 1.4rem;
  color: white;
}

footer .footer_bottom .menu {
  width: 25%;
  display: flex;
  align-items: center;
}

footer .footer_bottom .menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer .footer_bottom .menu ul li {
  font-size: 1.4rem;
  /* padding-left: 2rem; */
}

footer .footer_bottom .menu ul li a {
  color: white;
}

/* =================================ServicePage============================================= */
.servicesPage img.serviceHeroImg {
  width: 100%;
}

.servicesPage .wrapper h2 {
  font-size: 4rem;
  color: green;
  text-align: center;
  margin: 2rem 0;
  text-transform: capitalize;
}

.servicesPage .service .left h3 {
  font-size: 4rem;
  text-transform: capitalize;
}

.servicesPage .service .left ul li {
  font-size: 2.5rem;
  line-height: 5rem;
  text-transform: capitalize;
}

.servicesPage .service .right h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: aquamarine;
}

.servicesPage .service .right {
  background: #efeded;
  padding: 4rem;
}

.reatedMaterial .material {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.reatedMaterial .material .item {
  width: 18%;
  text-align: center;
  cursor: pointer;
}

.reatedMaterial .material .item img {
  width: 100%;
}

.reatedMaterial .material .item h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 1rem 0;
}

.saleOffer .left {
  border: 1rem solid blue;
  text-align: center;
  padding: 1rem 0;
}

.saleOffer .left h3 {
  font-size: 4rem;
  margin: 0;
  color: #000000a8;
}

.saleOffer .left p:nth-child(2) {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  color: black;
  line-height: 2.5rem;
}

.saleOffer .left p:nth-child(3) {
  font-size: 1.3rem;
  text-transform: capitalize;
  font-weight: 500;
}

.saleOffer .left p:nth-child(3) em {
  text-transform: uppercase;
  color: green;
  font-weight: 600;
  font-style: inherit;
}

.saleOffer .left p:nth-child(4) {
  font-weight: 600;
  color: black;
  text-transform: capitalize;
  margin: 2rem;
}

.saleOffer .left .buttonGrp button {
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  margin-right: 1rem;
}

.saleOffer .left .buttonGrp button:first-child {
  background: #1f01ff;
  border: 2px solid #1f01ff;
  color: white;
  border-radius: 5px;
}

.saleOffer .left .buttonGrp button:last-child {
  background: white;
  border: 2px solid;
  border-radius: 5px;
}

.saleOffer .right h3 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  text-align: right;
}

.saleOffer .right p {
  text-align: right;
  text-transform: capitalize;
}

.saleOffer .right .amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  float: right;
  margin: auto;
  margin-top: 2rem;

}

.saleOffer .right .amount p {
  font-size: 5rem;
  color: var(--orange);
}

.saleOffer .right .amount p sup {
  font-size: 3rem;
}

.saleOffer .right .amount button {
  background: #1f01ff;
  border: 2px solid #1f01ff;
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  /* margin-right: 1rem; */
}

.saleOffer .right {
  padding: 4rem;
}

.whyChooseUs .choose {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
}

.whyChooseUs .choose .chooseItem {
  position: relative;
}

.whyChooseUs .choose .chooseItem svg {
  font-size: 6rem;
}

.whyChooseUs .choose .chooseItem h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #1f01ff;
}

.whyChooseUs .choose .chooseItem p {
  font-size: 1.5rem;
}

.moon {
  border-radius: 50%;
  box-shadow: inset 0.1px 4px #3f51b5, inset -1px 13px 15px -14px #777;
  width: 75%;
  height: 96%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

}
/* ====================cart section============================== */
.cart-section {
  width: 80%;
  /* height: 100vh; */
  margin: auto;
}
.cart-remove-item svg {
  cursor: pointer;
  color: red;
  font-size: 3rem;
}
.add-minus-quantity svg[data-testid="RemoveIcon"] {
  color: red;
  font-size: 3rem;
  cursor: pointer;
}
.add-minus-quantity svg[data-testid="AddIcon"] {
  color: green;
  font-size: 3rem;
  cursor: pointer;
}
.cart-header{
  /* width: 80%; */
  height: 11rem;
  background-color: lavender;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}
.cart-header div {
  flex: 1;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
    font-weight: 500;
}
header.cartHeader {
  width: 100%;
  line-height: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 0.1rem solid #9a9191;
  transform: rotate(-0.05deg);
  margin-bottom: 7rem;
}

header.cartHeader .continue-shopping {
  display: flex;
  height: inherit;
  align-items: center;
}

header.cartHeader .continue-shopping .arrow-icon {
  width: 2.2rem;
  height: 2.2rem;
}

header.cartHeader .continue-shopping h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-left: 1.5rem;
  font-weight: 400;
}

header.cartHeader .cart-icon {
  display: flex;
  text-align: end;
  margin-right: 2rem;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}

header.cartHeader .cart-icon img {
  width: 5rem;
  height: 5rem;
  color: #2f80ed;
}

header.cartHeader .cart-icon p {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: -1.2rem;
  top: 0.9rem;
  border-radius: 50%;
  background: #99cbf7;
  color: #fff;
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.main-cart-section h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  text-transform: capitalize;
  color: rgba(41, 41, 41, 1);
  margin-bottom: 1rem;
}

.main-cart-section .total-items {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 5rem;
}

.total-items-count {
  font-weight: bold;
  color: var(--main-color);
}

/* cart main div start  */

.main-cart-section .cart-items {
  width: 100%;
  height: 62rem;
  background: linear-gradient(
    103.49deg,
    #ffffff -28.13%,
    rgba(242, 247, 255, 0.5) 116.84%
  );
  box-shadow: rgba(0, 0, 0, 0.08) 0rem 0.4rem 1.2rem;
  border-radius: 2rem;
  margin: auto;
  margin: auto;
  display: grid;
  place-items: center;
}

.cart-items hr {
  margin: 2rem auto;
  overflow-y: scroll;
}

.cart-items-container {
  width: 90%;
  height: 56rem;
  overflow: scroll;
}

.cart-items-info {
  width: 100%;
  height: 11rem;
  /* background-color: lavender; */
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cart-items-info .cart-product-img img {
  width: 16rem;
  height: 11rem;
  filter: drop-shadow(0rem 0.4rem 1rem #f1f7ff);
  border-radius: 1rem;
}
.cart-product-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-items-info .cart-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cart-items-info .cart-title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--main-color);
}

.cart-items-info .cart-title p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  text-align: left;
  color: var(--primary-color);
}
.cart-item-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-minus-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-minus-quantity button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.add-minus-quantity input {
  width: 6rem;
  height: 3rem;
  border: 0.141rem solid black;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
  margin: 0 1rem;
  border-radius: 0.5rem;
  outline: none;
  background-color: transparent;
}

.add-minus-quantity input:focus {
  outline: none;
}

.cart-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-price h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--main-color);
}

.cart-remove-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-remove-item button {
  border: none;
  background-color: transparent;
}

.card-total {
  width: 95%;
  margin-top: 4rem;
  text-align: right;
}

.card-total h3 {
  font-style: 200;
  font-size: 2.58rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: #606166;
}

.card-total h3 span {
  font-style: normal;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 3.2rem;
  text-transform: capitalize;
  color: #000000;
  margin-left: 1rem;
}

.card-total button {
  border: none;
  font-size: 1.6rem;
  padding: 1rem 3rem;
  color: #fff;
  background-color: #349bf3;
  text-transform: uppercase;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  letter-spacing: 1px;
}

/* hover effects  */
.fa-trash-alt {
  color: #ed4848;
}

.fa-plus:hover {
  color: #42c157;
}

.fa-minus:hover {
  color: #ffb800;
}

.fa-plus,
.fa-minus {
  color: var(--icon-color);
}

.card-total button:hover {
  background-color: #0077dc;
}

.card-total .clear-cart {
  margin-left: 3rem;
  background-color: rgb(209, 61, 61);
}

.card-total .clear-cart:hover {
  background-color: rgb(197, 5, 5);
}

/* responsive media queries  */

@media (max-width: 968px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  .continue-shopping h3 {
    margin-left: 0;
    font-size: 1.85rem;
  }

  .cart-items-info {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .cart-title,
  .add-minus-quantity,
  .cart-price,
  .cart-remove-item {
    padding-left: 2rem;
  }

  .cart-items-info .cart-product-img {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .add-minus-quantity {
    margin: 2rem 0 2rem 0;
    justify-content: flex-start;
  }

  .cart-price {
    justify-content: flex-start;
    margin-bottom: 2rem;
  }

  .cart-price h3::before {
    content: "Price: ";
  }

  .cart-remove-item {
    justify-content: flex-start;
  }

  .card-total {
    margin-bottom: 2rem;
    text-align: center;
  }

  .card-total button {
    margin-bottom: 3rem;
  }
}

/* ===================================Responsive============================================ */


@media (max-width: 980px) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    grid-gap: 2.8rem;
    gap: 2.8rem;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 2;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  .ourServices {
    flex-direction: column;
  }

  .col.bestOffer {
    padding: 5rem 0;
    flex-direction: column;
  }

  .bestOfferText {
    padding: 0 1rem;
  }

  .bestOffer .right h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .whysection {
    display: flex;
    flex: 1 1;
    align-items: flex-start;
    grid-gap: 3rem;
    flex-direction: column;
  }

  .testimonial .section-center {
    width: 65vw;
  }

  section.outlet .col {
    display: flex;
    flex-direction: column;
  }

  .HomePageService.col {
    flex-direction: column;
  }

  .servicesPage .service.col {
    flex-direction: column;
  }

  .servicesPage .wrapper h2 {
    font-size: 2rem;
  }

  .servicesPage .service .left h3 {
    font-size: 3rem;
  }

  .servicesPage .service .right {
    background: #efeded;
    padding: 2rem;
  }

  .reatedMaterial .material .item {
    width: 100%;
  }

  .saleOffer .col {
    flex-direction: column;
  }

  .whyChooseUs .choose {
    flex-direction: column;
    margin-top: 2rem;
  }
  .moon {
    display: none;
}
}

@media (max-width: 560px) {
  .header {
    padding: 0 2.4rem;
  }

  .heroText h1 {
    font-size: 3rem;
  }

  .heroText h1 {
    font-size: 2rem;
  }

  .heroText p {
    font-size: 1.3rem;
    padding-top: 2rem;
    width: 85%;
    margin: 0 auto;
  }

  .header .logo {
    width: 60px;
  }

  .heroText h2 {
    font-size: 2rem;
  }

  .service h2 {
    font-size: 12px;
  }

  .serviceHeader h2 {
    font-size: 2rem;
  }

  .service {
    width: 100%;
  }

  #form h2 {
    font-size: 2rem;
  }

  #form input {
    padding: 1rem;
    width: 100%;
    float: left;
    margin: 14px 5px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer .footer_col {
    border-right: none;
  }

  .footer .footer_col {
    width: 100%;
  }

  .footer .footer_col h4 {
    font-size: 2rem;
    color: var(--orange);
    text-transform: capitalize;
  }

  .footer .footer_col.footer4 form {
    justify-content: center;
  }

  .footer .footer_col.footer4 .social {
    justify-content: center;
  }

  footer .footer_bottom {
    flex-direction: column;
  }

  footer .footer_bottom .menu ul {
    flex-direction: column;
  }

  footer .footer_bottom .menu ul li {
    padding-top: 1rem;
  }


}